services:

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ctf
      POSTGRES_PASSWORD: ctfpass
      POSTGRES_DB: ctf
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - ctf_backend
    ports:
      - "5432:5432"

  web:
    build:
      context: .
      dockerfile: docker/web/Dockerfile
    env_file:
      - env.web
    depends_on:
      - db
    networks:
      - ctf_public
      - ctf_backend
    volumes:
      - /dev/log:/dev/log
      # Lưu static và media ra host thật
      - ./staticfiles:/app/staticfiles
      - ./media:/app/media
      - /var/log/suricata/fast.log:/app/fast.log:ro
    ports:
      - "127.0.0.1:8000:8000"


#  controller:
#    build:
#      context: .
#      dockerfile: docker/controller/Dockerfile
#    env_file:
#      - env/controller.env
#    depends_on:
#      - db
#    networks:
#      - ctf_backend

#  checker:
#    build:
#      context: .
#      dockerfile: docker/checker/Dockerfile
#    env_file:
#      - env/checker.env
#    depends_on:
#      - controller
#    networks:
#      - ctf_backend
#      - ctf_internal

#  submission:
#    build:
#      context: .
#      dockerfile: docker/submission/Dockerfile
#    env_file:
#      - env/submission.env
#    depends_on:
#      - db
#    networks:
#      - ctf_backend

#  vpnstatus:
#    build:
#      context: .
#      dockerfile: docker/vpnstatus/Dockerfile
#    env_file:
#      - env/vpnstatus.env
#    depends_on:
#      - db
#    networks:
#      - ctf_backend

  nginx:
    image: nginx:1.25
    volumes:
      - ./conf/nginx.conf:/etc/nginx/nginx.conf:ro
      # Trỏ đến static và media trên host
      - ./staticfiles:/app/staticfiles:ro
      - ./media:/app/media:ro
    depends_on:
      - web
    ports:
      - "8080:80"
    networks:
      - ctf_public
      - ctf_backend

volumes:
  db_data:

networks:
  ctf_public:
    external: true
  ctf_internal:
    external: true
  ctf_backend:
    external: true
