global
        log /dev/log    local0
        log /dev/log    local1 notice
        chroot /var/lib/haproxy
#       stats socket /run/haproxy/admin.sock mode 660 level admin
#       stats timeout 30s
#       user haproxy
#       group haproxy
        daemon

        # Default SSL material locations
        ca-base /etc/ssl/certs
        crt-base /etc/ssl/private

        # See: https://ssl-config.mozilla.org/#server=haproxy&server-version=2.0.3&config=intermediate
        ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
        ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
        ssl-default-bind-options ssl-min-ver TLSv1.2 no-tls-tickets

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        timeout connect 5s
        timeout client  1h
        timeout server  1h
        errorfile 400 /etc/haproxy/errors/400.http
        errorfile 403 /etc/haproxy/errors/403.http
        errorfile 408 /etc/haproxy/errors/408.http
        errorfile 500 /etc/haproxy/errors/500.http
        errorfile 502 /etc/haproxy/errors/502.http
        errorfile 503 /etc/haproxy/errors/503.http
        errorfile 504 /etc/haproxy/errors/504.http

############################
# 1. HTTP: Reverse proxy Portal
############################
frontend fe_http
    bind *:80
    mode http

    # Nếu sau này có nhiều host (portal.ctf, team1.ctf, ...)
    # Có thể dùng acl host_* để route.
    # Hiện tại, tất cả HTTP đều vào portal.
    default_backend be_portal

backend be_portal
    mode http
    # Portal đang map 127.0.0.1:8000 -> web container:80
    server portal 127.0.0.1:8080 check

###########################
# 2. SSH: proxy đến container team
############################
# Giả sử:
#   team1-server: 10.50.1.10:22
#   team2-server: 10.50.2.10:22
#   team3-server: 10.50.3.10:22
#
# Team sẽ SSH như:
#   ssh root@VPS_IP -p 10001
#   ssh root@VPS_IP -p 10002

frontend fe_ssh_team1
    bind *:10001
    mode tcp
    option tcplog
    option clitcpka
    option srvtcpka
    default_backend be_ssh_team1

backend be_ssh_team1
    mode tcp
    server ssh_team1 10.50.1.10:22 check

frontend fe_ssh_team2
    bind *:10002
    mode tcp
    option tcplog
    option clitcpka
    option srvtcpka
    default_backend be_ssh_team2

backend be_ssh_team2
    mode tcp
    server ssh_team2 10.50.2.10:22 check

frontend fe_ssh_team3
    bind *:10003
    mode tcp
    option tcplog
    option clitcpka
    option srvtcpka
    default_backend be_ssh_team3

backend be_ssh_team3
    mode tcp
    server ssh_team3 10.50.3.10:22 check

frontend fe_ssh_team4
    bind *:10004
    mode tcp
    option tcplog
    option clitcpka
    option srvtcpka
    default_backend be_ssh_team4

backend be_ssh_team4
    mode tcp
    server ssh_team3 10.50.4.10:22 check
